.sideImage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: -1;
    opacity: 0.5;*/
    /* filter: blur(2px);   */
    clip-path: polygon(75% 0, 100% 0%, 100% 100%, 51% 100%);
    /* clip-path: polygon(0% 0, 100% 0%, 75% 100%, 0% 100%); */
    image-rendering: optimizeQuality;
    object-fit: cover;
    object-position: right;
}

/* .background {
    /* background: hsla(214, 76%, 19%, 1); */

/* background: linear-gradient(90deg, hsla(214, 76%, 19%, 1) 0%, hsla(0, 9%, 93%, 1) 86%); */

/* background: -moz-linear-gradient(90deg, hsla(214, 76%, 19%, 1) 0%, hsla(0, 9%, 93%, 1) 86%); */

/* background: -webkit-linear-gradient(90deg, hsla(214, 76%, 19%, 1) 0%, hsla(0, 9%, 93%, 1) 86%); */

/* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0C2D57", endColorstr="#EFECEC", GradientType=1); 
} */

/* button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #FC6736;
    border-radius: 50%;
    transition: .6s ease;
}

button span:nth-child(6) {
    position: relative;
}

button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
} */

button {
    --color: #FC6736;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

button:hover {
    color: white;
}

button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

button:hover::before {
    top: -30px;
    left: -30px;
}
