.sideImage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: -1;
    opacity: 0.5;*/
    /* filter: blur(2px);   */
    clip-path: polygon(75% 0, 100% 0%, 100% 100%, 51% 100%);
    /* clip-path: polygon(0% 0, 100% 0%, 75% 100%, 0% 100%); */
    image-rendering: optimizeQuality;
    object-fit: cover;
    object-position: right;
}